body{
    font-family: Arial;
    max-width: fit-content;
}
.Titulo{
    font-size: x-large;
    margin-bottom: 0px;
}
.Subtitulo{
    margin-top: 5px;
    font-size: large;
    font-weight: normal;
}
table{
    border-style: hidden;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: rgb(232, 232, 232);
}
th{
    background-color: white;
    font-size: smaller;
}
tr:last-child{
    background-color: rgb(196, 24, 12);
    color: white;
}

td{
    border: 2px solid white;
    text-align: center;
}
tr td:nth-child(1){
    text-align: left;
}
th{
    width: 90px;
    text-align: center;
}
h5{
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 0px;
}
footer{
    text-align: right;
}
h6{
    margin-top: 0px;
}